# Auto detect text files and perform LF normalization
* text=auto

# for ubuntu
*.cpp text eol=crlf
*.h text eol=crlf
*.sh text eol=lf

# FBXSDK binaries
KraftonEngine/ThirdParty/FBXSDK/**/*.lib filter=lfs diff=lfs merge=lfs -text
KraftonEngine/ThirdParty/FBXSDK/**/*.dll filter=lfs diff=lfs merge=lfs -text